{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Впервые на сайте?</h1>
<h2 class="text-center">Посмотрите инструкцию</h2>
<img class="mx-auto d-block" width="1000" src="/static/img/pic1.jpeg" alt="здесь должна была быть картинка, но не нашлась">
<img class="mx-auto d-block" width="1000" src="/static/img/pic2.jpeg" alt="здесь должна была быть картинка, но не нашлась">
<img class="mx-auto d-block" width="1000" src="/static/img/pic3.jpeg" alt="здесь должна была быть картинка, но не нашлась">
<img class="mx-auto d-block" width="1000" src="/static/img/pic4.jpeg" alt="здесь должна была быть картинка, но не нашлась">
<img class="mx-auto d-block" width="1000" src="/static/img/pic5.jpeg" alt="здесь должна была быть картинка, но не нашлась">
<img class="mx-auto d-block" width="1000" src="/static/img/pic6.jpeg" alt="здесь должна была быть картинка, но не нашлась">
<img class="mx-auto d-block" width="1000" src="/static/img/pic7.jpeg" alt="здесь должна была быть картинка, но не нашлась">
{% endblock %}